.aboutWrapper {
    margin-bottom: 75px;
}

.whoJumbo {
    height: 67%;
}

.skillsJumbo {
    height: 59.85%;
    margin-top: 4.25rem;
    position: relative;
    left: 30px;
}

.who {
text-align: left;
position: relative;
top: 22%;
left: 9%;
font-size: 45px;
color: white;
}

#headshot {
    border-radius: 50%;
    position: relative;
    left: 25%;
    bottom: 96px;
}

.jumboText {
    position: relative;
    bottom: 32%;
    color: white;
}

.storyheading {
    position: relative;
    top: 6rem;
}
.storyrow {
    padding: 0px 7rem;
    position: relative;
    top: 7.5rem;
}

.storytext {
    line-height: 32px;
}

.hobbiesRow {
    margin-top: -1.5rem;
}

.hobbiesCol {
    position: relative;
    top: 1rem;
    left: 1.75rem;
}

.sectionHeading {
    font-size: 34px;
}

#edandskills {
    color: white;
    position: relative;
    bottom: 2.5rem;
    font-size: 45px;
}

ul {
    list-style: none;
    
}

.liItem::before {
    content: "\2022";
    color: blue;
    display: inline-block;
    width: 2.5rem;
    margin-left: -1rem;
}

.liItem {
    padding-top: 10px;
    text-align: left;
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    height: 1px;
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skillsRow {
    margin-top: 0;
}

#skillslogo {
    position: relative;
    float: left;
    bottom: 10%;
}

.edskillstext {
    color: white;
    position:relative;
    bottom: 3%;
}
.cvRow {
    margin-top: 5rem;
}
.skillsCol {
    margin-top: 8rem;
}

@media (max-width: 480px) {
    .pageHead {
        font-size: 2.5rem;
    }
    #headshot {
        height: 12.5rem;
        width: 12.5rem;
        top: 1rem;
        left: 0;
    }
    .who {
        top: 0;
        left: 0;
        font-size: 2rem;
        text-align: center;
    }
    .jumbo {
        height: 100%;
    }
    .jumboText {
        bottom: -3rem;
    }
    .storyheading {
        top: -1rem;
    }

    .storyrow {
        padding: 0px 0.5px;
        top: 0;
        line-height: 26px;
        font-size: 1rem;
    }
    .sectionHeading {
        font-size: 28px;
    }
    .list {
        width: 100%;
        display: flex;
        justify-content: left;
        left: 20%;
    }

    .hobbiesCol {
        left: 0;
    }
    .skillsJumbo {
        height: 82.85%;
        margin-top: 3.25rem;
        position: relative;
        left: 0;
    }
    #edandskills {
        color: white;
        position: relative;
        bottom: 1.2rem;
        font-size: 25px;
    }
    #skillslogo {
        position: relative;
        bottom: 6%;
        float: none;
        height: 200px;
        width: 300px;
    }
    .cvRow {
        margin-top: 0;
    }
    .skillsCol {
        margin-top: 4rem;
    }
}

@media (max-width: 350px) {
    #skillslogo {
        position: relative;
        bottom: 6%;
        float: none;
        height: 200px;
        width: 250px;
    }
}