.aboutWrapper {
    margin-bottom: 75px;
}

.whoJumbo {
    /* height: 67%; */
    padding: 10px 5px 0px 10px;
    height: fit-content;
}

.skillsJumbo {
    height: fit-content;
    /* margin-top: 4.25rem; */
    position: relative;
    /* left: 30px; */
    padding: 10px 5px 0px 10px;
}

.who {
text-align: center;
/* position: relative;
top: 16%;
left: 5%; */
font-size: 55px;
color: white;
margin-left: 3rem;
margin-top: 4rem;
}

#headshot {
    border-radius: 50%;
    /* position: relative;
    left: 25%;
    bottom: 7.25rem; */
}

.jumboText {
    /* position: relative;
    bottom: 38%; */
    color: white;
    font-size: 20px;
}

.storyheading {
    position: relative;
    top: 6rem;
}
.storyrow {
    padding: 0px 7rem;
    position: relative;
    top: 7.5rem;
}

.storytext {
    line-height: 32px;
}

.hobbiesRow {
    margin-top: 6.5rem;
}

.hobbiesCol {
    position: relative;
    top: 1rem;
    /* left: 1.75rem; */
}

.sectionHeading {
    font-size: 34px;
}

#edandskills {
    color: white;
    /* position: relative;
    bottom: 2.5rem; */
    font-size: 40px;
    text-align: center;
}

ul {
    list-style: none;
    
}

.liItem::before {
    content: "\2022";
    color: blue;
    display: inline-block;
    width: 2.5rem;
    margin-left: -1rem;
}
.whoCol {
    margin-left: 0;
}

.liItem {
    width: max-content;
    padding-top: 10px;
    text-align: left;
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    height: 1px;
}

.skillsRow {
    margin-top: 0;
}

#skillslogo {
    position: relative;
    /* float: left; */
    /* bottom: 10%; */
}

.edskillstext {
    color: white;
    /* position:relative;
    bottom: 13%; */
    font-size: 20px;
}
.cvRow {
    margin-top: 5rem;
}
.skillsCol {
    margin-top: 8rem;
}

@media (max-width: 480px) {
    .pageHead {
        font-size: 2.5rem;
    }
    #headshot {
        height: 12.5rem;
        width: 12.5rem;
        top: 1rem;
         left: 0;
    }
    .who {
        top: 0;
        left: 0;
        font-size: 2rem;
        /* margin-left: 0;
        margin-top: 15px; */
        text-align: center;
    }
    .jumbo {
        height: 100%;
    }
    .jumboText {
        bottom: -3rem;
    }
    .storyheading {
        top: -1rem;
    }
    .storyCol {
        margin-top: 4rem;
    }

    .storyrow {
        padding: 0px 0.5px;
        top: 0;
        line-height: 26px;
        font-size: 1rem;
    }
    .sectionHeading {
        font-size: 28px;
    }
    .list {
        width: 100%;
        position: relative;
        left: 40px;
    }

    .hobbiesCol {
        left: 0;
    }
    .skillsJumbo {
        height: 88.85%;
        margin-top: 3.25rem;
        position: relative;
        left: 0;
    }
    #edandskills {
        color: white;
        position: relative;
        top: 15px;
        font-size: 26px;
    }
    #skillslogo {
        position: relative;
        bottom: 6%;
        float: none;
        height: 200px;
        width: 300px;
    }
    .cvRow {
        margin-top: 0;
    }
    .skillsCol {
        margin-top: 4rem;
    }
}

@media (max-width: 350px) {
    #skillslogo {
        position: relative;
        bottom: 6%;
        float: none;
        height: 200px;
        width: 250px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .storyrow {
        padding: 0px;
    }
    .skillsCol {
        margin-top: 6rem;
    }
}

@media (min-width: 481px) and (max-width: 996px) {
    .filler {
        display: none;
    }
    .skillsJumbo {
        left: 0;
        margin-top: 4rem;
    }
    .hobbiesCol {
        margin-top: 4rem;
        left: 0;
    }
    #innerHobbyRow {
        margin-left: 0 !important;
    }
}

@media (min-width: 996px) and (max-width: 1440px) {
    .storyrow {
        padding: 0 3rem;
        top: 6.5rem;
    }
}