.contactRow {
    margin-top: 4rem;
    margin-bottom: 7rem;
}

.subHeading {
text-align: left;
margin: 0;
}

.contactText {
    text-align: left;
    margin-top: 2rem;
}

.contactContainer {
    margin-top: 10rem;
}

@media (max-width: 480px) {
    .contactContainer {
        margin-top: 5rem;
    }
    .contactText {
        margin-bottom: 2.5rem;
    }
}