.slider {  
    border-style: solid;
    border-radius: .8rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.carousel-indicators li {
    background-color: rgb(54, 40, 255);
    background-color: rgba(70, 70, 70, 0.25);
  }
  
  .carousel-indicators .active {
    background-color: rgb(54, 40, 255);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none;
  }

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  color: mediumblue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  color: mediumblue;
}

.projfields {
  font-weight:bolder;
  text-decoration: underline;
  font-size: 18px;
}

.gitlogo {
  position: relative;
  right: 3rem;
  top: .5rem;
}

.viewMore {
  text-align: left;
  font-size: 45px;
}

.visitGit {
  text-align: left;
}

.visitGitRow {
  position: relative;
  bottom: 2.5rem;
}

.projDescriptions {
  margin-top: 5rem;
}

.carouselRow {
  margin-top: 4.5rem;
}